body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#2a3845;
	margin:0;
	padding:0;
	background:#FFFFFF;
}

p {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:632px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
}

#header {
	margin:0 1px;
}


#main-content {
	margin:0 auto;
}




/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#00008b;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 25px Cambria,serif;
	border-bottom:1px;
}

h2 {
	color:#00008b;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Cambria, serif;
	border-bottom:1px;
}


.box {
	background:#e8f4f8;
	border:1px solid #f0e9eb;
	padding:15px;
}

